.sidebar{
    background: #040442;
    height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}
.logo{
    margin-bottom: 50px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo > a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;

}

.links > nav > ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.links > nav > ul > li > a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 1rem;
    transition: .2s;
    border-radius: 10px;
    padding: 5px
}

.links > nav > ul > li > a:hover{
    color: #ffd900dc;
    background: #01011b5e;
    
}





.links > nav > ul > li > a > img{
    width: 25px;
    margin-right: 20px;

}

