.internacoes{
    display: flex;
    flex-direction: column;  
    flex: 1;
}

.header{
    border-bottom: 1px solid #d1d1d1;
    padding: 2px 20px;
    margin-bottom: 30px;
}

.header > h2{
    font-weight: 500;
    font-size: 1rem;
    color: #410f9e;
}

.body{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.resume_container{
    display: flex;
    gap: 50px;
  
}


.filters{
    display: grid;
    grid-template-columns: repeat(6, 1fr) ;   
    gap: 10px;
}

.filter_nome_paciente{
    grid-column-start: 1;
    grid-column-end: 4;
}

.filter_nome_medico{
    grid-column-start: 4;
    grid-column-end: 7;
}


.pagination{
    display: flex;
    flex-direction: column;
    justify-content: end;
}


#td_acoes{
    display: flex;
    gap: 20px;
    justify-content: center;
}

#td_acoes > button{
    background: none;
    border: none;
    cursor: pointer;
    
}

#td_acoes > button > img{
    width: 25px;
    height: 25px;
}

.table{
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
}

.thead{
    background: #040442;
    color: white;    
}   

.th{
    text-align: start;
    padding: 2px 10px;
}

.tr{
    border-bottom: 1px solid rgb(170, 170, 170);
}

.td{
    padding: 5px 10px
}

.pagination_action{
    margin-top: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

.pagination_action button{
    padding: 5px;
    border: none;
    cursor: pointer;
    height: 20px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination_action .action{
    display: flex;
    gap: 5px;
}
.pagination_action .action button{
    background-color: #040442;
    border-radius: 5px;
}

.pagination_action .action button > img{
    height: 12px;
    width: 12px;
}

.numero_pagina{
    display: flex;
    align-self: center;
    gap: 5px;
}

.numero_pagina button{
    min-width: 20px;
    background: none;
    
}

.numero_pagina .pagina_atual{
    font-size: 1.1rem;
    font-weight: 600;
}


.action_pagination .pagina_posterior,
.action_pagination .pagina_anterior{
    font-size: 1rem;
    font-weight: 400;
}








