.editar_medico{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 30px;
}

.editar_medico_container{
    background: #dbdada;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 30px;
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.action {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}

