.home{
    background: linear-gradient(90deg, #0b3bd8, #098ce4, #0b3bd8);
    height: 100%;
    width: 100%;
    background-size: cover;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1{
    color: #041241;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    background-color: #041241;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    transition: .2s ;
}

.nav a:hover{
    background-color: #fff;
    color: #041241;
}