.table{
    border-collapse: collapse;
    width: 100%;
}

.thead{
    background: #040442;
    color: white;
}

.th{
    padding: 3px 0;
    text-align: start;
    padding-left: 10px;
}

.tr{
    border-bottom: 1px solid rgb(170, 170, 170);
}

.td{
    padding: 5px 0 10px 10px;
}

.pagination{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

.pagination button{
    padding: 5px;
    border: none;
    cursor: pointer;
    height: 20px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination .action{
    display: flex;
    gap: 5px;
}
.pagination .action button{
    background-color: #040442;
    border-radius: 5px;
}

.pagination .action button > img{
    height: 12px;
    width: 12px;
}

.numero_pagina{
    display: flex;
    align-self: center;
    gap: 5px;
}

.numero_pagina button{
    min-width: 20px;
    background: none;
}

.numero_pagina .pagina_atual{
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 10px;
}


.action_pagination .pagina_posterior,
.action_pagination .pagina_anterior{
    font-size: 1rem;
    font-weight: 400;
}

