
.pagination{
  max-width: 120px;
  
}

.table_container {
    overflow-x: auto;
    width: 100%;
  }
  
  table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #410f9e;
    color: white;
  }
  
  tr{
    padding: 5px 0  ;
  }
  
  th{
    text-align: left;
    padding: 2px 20px;
    white-space: nowrap;
  }
  
  td{ 
    padding: 2px 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #eddcf8; /* Adiciona uma cor de fundo alternada para linhas pares */
  }
  
  .column_status,
  .column_ações{
      text-align: center;
  }
  
  .pagination_action{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
  }
  
  .pagination_action button{
    padding: 5px;
    border: none;
    cursor: pointer;
    height: 20px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pagination_action .action{
    display: flex;
    gap: 5px;
  }
  .pagination_action .action button{
    background-color: #040442;
    border-radius: 5px;
  }
  
  .pagination_action .action button > img{
    height: 12px;
    width: 12px;
  }
  
  .numero_pagina{
    display: flex;
    align-self: center;
    gap: 5px;
  }
  
  .numero_pagina button{
    min-width: 20px;
    background: none;
  }
  
  .numero_pagina .pagina_atual{
    font-size: 1.1rem;
    font-weight: 600;
  }
  
  .action_pagination .pagina_posterior,
  .action_pagination .pagina_anterior{
    font-size: 1rem;
    font-weight: 400;
  }
  
  